@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	min-width: 100vw;
	min-height: 100vh;
}
.app{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    min-height: 100vh;
}
.content{
    padding:5% 10%;
}
.cities{
    position: relative;
    overflow: hidden;
    width: 300px;
}
.country {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    overflow: hidden;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    background-color: rgba(248, 205, 120, 0.701);
    width: 100%;
    color: rgb(84, 80, 80);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.country img {
    width: 50%;
    margin-bottom: .5rem;
    box-shadow: 5px 5px 5px black;
    border-radius: 10%;
}
.country .countryName {
    font-size: 1.3rem;
    font-weight: 600;
}
.country .countryRegion{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.09rem;
}
.cities:hover .country {
    transform: translateY(0%);
}
.cities a:hover{
    color: white;
    text-decoration: none;
}
.map {
    text-decoration: none;
    padding: .4rem;
    width: 6rem;
    border-bottom: 1px solid;
    border: none;
    outline: none;
    background: none;
    margin: .8rem .4rem;
    background-color: brown;
    color: aliceblue;
    border-radius: .3rem;
    font-size: .8rem;
    cursor: pointer;
}